# Req for Sagemaker and LLM
boto3
sagemaker
sagemaker-experiments
torch
torchdata
ray==2.5.0
transformers==4.33.0 
datasets==2.11.0 
accelerate==0.17.0 
bitsandbytes==0.37.0 
promptsource==0.2.3 
evaluate==0.4.0 
py7zr==0.20.4 
sentencepiece==0.1.99 
rouge_score==0.1.2 
loralib==0.1.1 
peft==0.3.0 
git+https://github.com/lvwerra/trl.git
PyAthena==2.2.1
SQLAlchemy
psycopg2-binary
matplotlib==3.1.3
seaborn==0.10.0
scikit-learn==1.3.0




